@font-face {
	font-family: Segoe UI;
	font-weight: 400;
	font-style: normal;
	src: local("Segoe UI");
	src: url("./fonts/Segoe_UI.ttf") format("truetype");
}

@font-face {
	font-family: Segoe UI;
	font-weight: 700;
	font-style: normal;
	src: local("Segoe UI");
	src: url("./fonts/Segoe_UI_Bold.ttf") format("truetype");
}

body{
	height: 100%;
	width:100%;
	font-family: Segoe UI, sans-serif;
	font-style: normal;
	background-color: #131316;
}

	*,
:before,
:after{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
}

p{
	margin:0;
}

html{
	font-size: calc(100vw/1000*10);
}


.wrapper{
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	width:100%;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(19, 19, 22, 0) 0%, #131316 100%), url("./images/static/bg.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100rem 66rem, 100rem 66rem;
}

.container{
	margin: 0 auto;
	padding:0 1rem;
	width: 100%;
	max-width: 64rem;
}

.header {

}
.header__inner {
	margin-top: 2rem;
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.logo {
	width: 12rem;
	height: 6rem;
	background-image: url("./images/static/logo.svg");
	background-repeat: no-repeat;
	background-size: 12rem 6rem;
	font-size: 0rem;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
	border-radius: .4rem;
	border: none;
	font-family: Segoe UI, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover {
	filter: hue-rotate(-50deg);
	transition: 0.5s;
}

.btn_header{
	width: 18rem;
	height: 4rem;
}

.main {
	flex: 1 1 auto;
	margin-top: 4rem;
}
.newShips {}
.title_h1 {
	color: #fff;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3.2rem;
	line-height: 5rem;
}
.newShips__inner {
	margin: 2rem -0.5rem -1rem -0.5rem;
	display: flex;
	flex-wrap: wrap;
}
.shipItem {
	margin: 0 0.5rem 1rem 0.5rem;
	width: 20rem;
	height: 31rem;
	background: rgba(255, 255, 255, 0.95);
	border-radius: .4rem;
}

.shipItem:nth-child(4),
.shipItem:nth-child(5){
	width: 30.5rem;
	height: 34rem;
}
.shipItem__img{
	width: 100%;
	height: 15rem;
}

.shipItem:nth-child(4) .shipItem__img,
.shipItem:nth-child(5) .shipItem__img{
	height: 18rem;
}
.shipItem__text {
	padding: 0 1rem 1rem;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
}
.price_block {
	padding: 0 1rem 1rem;
	display: flex;
	justify-content: center;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.price {
	width: 9rem;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.price_old {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.1rem;
	text-decoration-line: line-through;
	color: #D9D9D9;
}
.shipItem .btn{
	width: 18rem;
	height: 4rem;
	margin: 0 1rem 1rem;
}

.shipItem:nth-child(4) .btn,
.shipItem:nth-child(5) .btn{
	width: 28.5rem;
}

.shipDay {
	margin-top: 5rem;

}
.shipDay__inner {
	margin-top: 2rem;
	padding-bottom: 3.5rem;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 0.4rem;
}
.shipDay__info {
	display: flex;
	justify-content: space-between;
}
.shipDay__info__img {
	width: 30.5rem;
	height: 30.5rem;
}
.shipDay__info_characteristics {
	width: 30.5rem;
	padding-right: 6.5rem;
}
.power {
	margin-top: 3rem;
	height: 2.8rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.power img{
	margin-right: 0.8rem;
	width: 2.8rem;
	height: 2.8rem;
}

.power img:nth-child(5){
	opacity: 10%;
}
.shipDay__name {
	margin-top: 1rem;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
}
.shipDay__text {
	margin-top: 0.5rem;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
}
.shipDay__priceBlock {
	margin-top: 2rem;
	height: 2.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.shipDay__price{
	width: 6rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.price_current{
	font-family: 'Segoe UI', sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
}
.discount {
	width: 6rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF0000;
	border-radius: 4px;
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
}
.economy {
	margin-top: 2rem;
}
.economy__itom {
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	list-style-type: none;
}

.total {
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3rem;
	color: #FF0000;
}
.promo_code{
	margin: 0 auto;
	width: 28rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem dashed #131316;
	border-radius: 0.4rem;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
}

.shipDay .btn{
	margin: 1rem auto 0;
	width: 28rem;
	height: 6rem;
}
.footer {
	margin-top: 6rem;
}
.social__text {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;
}
.social {
	margin: 2rem auto 0;
	width: 23.2rem;
	height: 6.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
 }
.social_link {

}
.social_link img{
	width: 6.4rem;
	height: 6.4rem;
}
.footer__bottom {
	margin: 3rem auto 2.6rem;
	display: flex;
	justify-content: space-between;
}
.footer__bootom__info{
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
}
.footer__bootom__info p{
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 2rem;
	color: rgba(255, 255, 255, 0.5);
}
.footer__bootom__info a{
	color: #fff;
	line-height: 2rem;
}
.footer__tel{
	text-decoration: none;
}

/*-------------------------------@media------------------------------------*/

@media (max-width: 767px){
	html{
		font-size: calc(100vw/767*10);
	}
}

@media (max-width: 480px){
	html{
		font-size: calc(100vw/480*10);
	}

	.shipItem {
		width: 22.5rem;
		height: 33rem;
	}
	.shipItem__text{
		height: 100%;
		max-height: 9rem;
	}
	.shipItem .btn {
		width: 20.5rem;
	}
	.shipItem:nth-child(4) {
		width: 22.5rem;
		height: 33rem;
	}
	.shipItem:nth-child(4) .shipItem__img{
		height: 15rem;
	}
	.shipItem:nth-child(4) .btn{
		width: 20.5rem;
	}
	.shipItem:nth-child(5) {
		width: 46.5rem;
		height: 33rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.shipItem:nth-child(5) .shipItem__img{
		width: 35rem;
		height: 15rem;
		text-align: center;
	}
	.shipItem:nth-child(5) .btn{
		width: 43.5rem;
	}

	.shipDay__info {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
	.power {
		margin-top: 0;
	}
	.shipDay__text {
		font-size: 1.6rem;
	}
	.shipDay__info_characteristics {
		width: 27.5rem;
		padding-right: 0;
	}
	.promo_code {
		margin-top: 1rem;
	}
	.footer__bottom {
		margin: 3rem 1rem 2.6rem;
	}
}